//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1300;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #333333;
$secondColor: #ffffff;
$bgButton: #3d9be9;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
}
//===================================================================================================================================
.steps {
    // .steps__content

    &__content {
    }

    // .steps__row

    &__row {
        display: flex;
        align-items: center;
        margin: 0px -15px;
        padding: 50px 0px 70px 0px;
    }

    // .steps__column

    &__column {
        flex: 0 1 33.333%;
        padding: 0px 15px;
    }

    // .steps__item

    &__item {
        background: #fefefe;
        border-radius: 6px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 40px 105px 50px 105px;
    }
}

.steps-item {
    // .steps-item__number

    &__number {
        margin: 0px 0px 20px 0px;
    }

    // .steps-item__title

    &__title {
        margin: 0px 0px 20px 0px;
    }

    // .steps-item__text

    &__text {
    }
}

//====================================================================================================

.features {
    // .features__content

    &__content {
        padding: 70px 0px 0px 0px;
    }

    // .features__content-bg
    &__content-bg {
        background: linear-gradient(0deg, #ffffff 4.18%, rgba(255, 255, 255, 0) 23.32%),
            linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 93.52%),
            url("../img/bg-features.png") center / cover no-repeat;
    }
    // .features__title

    &__title {
        text-align: center;
        margin: 0px 0px 56px 0px;
    }

    // .features__row

    &__row {
        display: flex;
        align-items: center;
        padding: 70px 0px 0px 0px;
    }

    // .features__column

    &__column {
        flex: 0 1 33.333%;
    }

    // .features__item

    &__item {
        margin: 0px 0px 532px 0px;
        text-align: center;
    }

    // .features__subtitle

    &__subtitle {
        margin: 0px 0px 15px 0px;
    }

    // .features__text

    &__text {
        padding: 0px 100px;
    }
}
// ====================================================================================================
.price {
    // .price__content

    &__content {
        padding: 80px 70px 115px 70px;
    }

    // .price__title

    &__title {
        text-align: center;
        margin: 0px 0px 70px 0px;
    }

    // .price__row

    &__row {
        display: flex;
        justify-content: space-evenly;
    }

    // .price__column

    &__column {
    }

    // .price__items

    &__items {
    }
}
.price-item {
    // .price-item__subtitle

    &__subtitle {
        margin: 0px 0px 17px 0px;
        text-align: center;
    }

    // .price-item__text

    &__text {
        font-size: 16px;
        line-height: 98.44%;
        text-align: center;
    }

    // .price-item__datagrid

    &__datagrid {
        font-weight: 500;
        font-size: 20px;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid rgba(51, 51, 51, 0.1);
            //line-height: 40px;
        }
        td {
            line-height: 25px;
            border-bottom: 0;
            padding-top: 46px;
        }
    }

    // .price-item__datagrid-pr

    &__datagrid-pr {
        padding-right: 60px;
    }

    // .price-item__service

    &__service {
        margin: 0px 0px 37px 0px;
        &:last-child {
            margin: 0;
        }
    }

    // .price-item__service-title

    &__service-title {
        margin: 0px 0px 10px 0px;
    }

    // .price-item__service-text

    &__service-text {
        font-size: 16px;
        line-height: 139.5%;
    }

    // .price-item__service-phone

    &__service-phone {
        font-weight: 600;
        font-size: 24px;
        line-height: 98.44%;
        color: rgba(51, 51, 51, 0.8);
        margin: 40px 0px 45px 0px;
    }

    // .price-item__service-link

    &__service-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 131%;
        color: $mainColor;
        display: inline-block;
        position: relative;
        padding: 35px 0px 0px 70px;
        &::before {
            content: "";
            background: url("../img/icons/price-list.svg") 0 0 no-repeat;
            height: 82px;
            width: 58px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

//===================================================================================================================
.zakaz {
    background: #f8f8f8;
    // .zakaz__content

    &__content {
        padding: 105px 0px 0px 0px;
    }

    // .zakaz__title

    &__title {
        text-align: center;
        margin: 0px 0px 10px 0px;
    }

    // .zakaz__subtitle

    &__subtitle {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    // .zakaz__row

    &__row {
        display: flex;
        justify-content: space-between;
    }

    // .zakaz__column

    &__column {
        flex: 0 1 50%;
    }

    // .zakaz__img

    &__img {
        padding: 40px 0px;
    }

    // .zakaz__button

    &__button {
        height: 50px;
        line-height: 50px;
        padding: 0px 31px;
        margin: 0px 0px 15px 0px;
    }
}

.form-zakaz {
    padding: 150px 0px 180px 60px;
    // .form-zakaz__input-name

    &__input-name {
        max-width: 250px;
        background: transparent;
        font-size: 16px;
        line-height: 20px;
        color: rgba(51, 51, 51, 0.7);
        border-bottom: 1px solid $mainColor;
        margin: 0px 0px 50px 0px;
        padding-bottom: 14px;
    }

    // .form-zakaz__input-phone

    &__input-phone {
        max-width: 250px;
        background: transparent;
        font-size: 16px;
        line-height: 20px;
        color: rgba(51, 51, 51, 0.7);
        border-bottom: 1px solid $mainColor;
        margin: 0px 0px 70px 0px;
        padding-bottom: 14px;
    }
}

.checkbox {
    display: block;
    // .checkbox__input

    &__input {
    }

    // .checkbox__text

    &__text {
        color: $mainColor;
        font-size: 12px;
        line-height: 15px;
    }
}

//====================================================================================================
.partner {
    // .partner__content

    &__content {
        padding: 55px 0px 50px 0px;
    }

    // .partner__title

    &__title {
        text-align: center;
        margin: 0px 0px 40px 0px;
    }

    // .partner__row

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: -30px -25px;
    }

    // .partner__column

    &__column {
        flex: 0 1 33.333%;
        padding: 30px 25px;
        //margin: 80px 0px 0px 0px;
        img {
            max-width: 100%;
        }
    }
}

//====================================================================================================
.beton-map {
    height: 590px;
    position: relative;
    // .beton-map__content

    &__content {
        height: 100%;
    }

    // .beton-map__map

    &__map {
        height: 100%;
    }

    // .beton-map__body

    &__body {
        position: absolute;
        top: 150px;
        left: 420px;
        background: #ffffff;
        border-radius: 6px;
        padding: 45px;
    }

    // .beton-map__logo

    &__logo {
        margin: 0px 0px 35px 0px;
    }

    // .beton-map__list

    &__list {
        font-size: 16px;
        line-height: 131%;
        li {
            margin: 0px 0px 15px 0px;
            position: relative;
            padding: 0px 0px 0px 25px;
            &:last-child {
                margin: 0;
            }
            &::before {
                position: absolute;
                top: 50%;
                left: 0;
                content: "";
                height: 1px;
                width: 10px;
                background-color: $mainColor;
            }
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
